@model Hotel_Room_Reservation_System_Test.Models.Room

<style>
    /* Add general styling for the page */
    body {
        background-color: #f2f2f2;
    }

    h1 {
        color: #007bff; /* Set the color of the main heading to blue */
        font-size: 24px; /* Increase the font size of the heading to 24px */
    }

    h3 {
        color: #fff; /* Set the color of the subheading to a darker shade of gray */
        font-size: 20px; /* Increase the font size of the subheading to 16px */
    }

    h4 {
        color: #007bff; /* Set the color of the subheading to a darker shade of gray */
        font-size: 20px; /* Increase the font size of the subheading to 16px */
    }

    /* Style the label-value pairs */
    dl.row {
        border: 1px solid #dee2e6;
        padding: 10px;
        border-radius: 5px;
    }

        dl.row dt {
            color: #007bff; /* Set the color of labels to blue */
            font-size: 24px; /* Increase the font size of labels to 16px */
        }

        dl.row dd {
            color: #000; /* Set the color of values to black */
            font-size: 28px; /* Increase the font size of values to 16px */
            font-weight: bold; /* Set the font weight of values to bold */
        }

    /* Style the delete button */
    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
        color: #fff; /* Set the text color to white */
        font-size: 20px; /* Increase the font size of the button to 16px */
    }

        .btn-danger:hover {
            background-color: #c82333;
            border-color: #bd2130;
        }

    /* Style the "Back to List" link */
    a {
        color: #007bff;
        font-size: 20px; /* Increase the font size of the link to 16px */
    }

        a:hover {
            text-decoration: none; /* Remove the underline on hover */
        }

</style>

<h1>Delete Room</h1>

<h3>Are you sure you want to delete this room?</h3>
<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Model.Description</dd>

        <dt class="col-sm-2">Capacity</dt>
        <dd class="col-sm-10">@Model.RoomCapacity</dd>

        <dt class="col-sm-2">Price</dt>
        <dd class="col-sm-10">@Model.Price.ToString("C")</dd>

        <dt class="col-sm-2">Availability</dt>
        <dd class="col-sm-10">@Model.IsAvailable</dd>
    </dl>
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</form>
