@model Hotel_Room_Reservation_System_Test.Models.Room

<style>
    /* Custom CSS styles for labels */
    .form-group label.control-label {
        color: #fff; /* Label text color (white) */
        font-weight: bold; /* Bolden the label text */
        font-size: 16px; /* Increase label font size */
    }

    /* Hover effect for form fields */
    .form-control:hover {
        background-color: #f8f9fa; /* Background color on hover */
    }

    h1 {
        color: white; /* Changed the title color to white */
        background-color: gray; /* Added a background color for the title */
        border-radius: 5px; /* Added border-radius to the title */
    }

    h4 {
        color: white; /* Changed the title color to white */
    }
</style>

<h1>Room Details</h1>

<div>
    <h4>Name: @Model.Name</h4>
    <h4>Description: @Model.Description</h4>
    <h4>Room Capacity: @Model.RoomCapacity</h4>
    <h4>Price: @Model.Price</h4>
    <h4>Is Available: @Model.IsAvailable</h4>
    <h4>Image: @Model.Image</h4>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@{
    if (Model.IsAvailable)
    {
        <a asp-action="Reserve" asp-route-roomId="@Model.Id" class="btn btn-success">Reserve</a>
    }
    else
    {
        <button disabled class="btn btn-secondary">Not Available</button>
    }
}
