@model Hotel_Room_Reservation_System_Test.Models.Room

<style>
    h4 {
        margin-bottom: 10px;
    }

    .btn {
        padding: 10px 20px;
        margin: 5px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-success {
        background-color: #28a745;
        color: #fff;
    }

    .btn-secondary {
        background-color: #6c757d;
        color: #fff;
    }
</style>

<h1>Room Details</h1>

<div>
    <h4>Name: @Model.Name</h4>
    <h4>Description: @Model.Description</h4>
    <h4>Room Capacity: @Model.RoomCapacity</h4>
    <h4>Price: @Model.Price</h4>
    <h4>Is Available: @Model.IsAvailable</h4>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@{
    if (Model.IsAvailable)
    {
        <a asp-action="Reserve" asp-route-roomId="@Model.Id" class="btn btn-success">Reserve</a>
    }
    else
    {
        <button disabled class="btn btn-secondary">Not Available</button>
    }
}
