@model Hotel_Room_Reservation_System_Test.Models.User

@{
    ViewData["Title"] = "Settings";
}

<h2>Settings</h2>
<div class="form-container">
    <p><strong>Name:</strong> @Model.FirstName @Model.LastName</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Phone Number:</strong> @Model.PhoneNumber</p>
    <p><strong>Physical Address:</strong> @Model.PhysicalAddress</p>
    <a asp-action="Edit" asp-controller="User" asp-route-id="@Model.UserId" class="btn btn-primary">Edit</a>
</div>
