@model List<Hotel_Room_Reservation_System_Test.Models.Hotel>

<h1>Hotels</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>PhoneNumber</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hotel in Model)
        {
            <tr>
                <td>@hotel.Id</td>
                <td>@hotel.Name</td>
                <td>@hotel.Address</td>
                <td>@hotel.PhoneNumber</td>
                <td>
                    <a asp-action="Details" asp-route-id="@hotel.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@hotel.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@hotel.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
