@model Hotel_Room_Reservation_System_Test.Models.User

@{
    ViewData["Title"] = "User Details";
}

<style>

    h1 {
        color: white; /* Changed the title color to white */
        background-color: gray; /* Added a background color for the title */
        border-radius: 5px; /* Added border-radius to the title */
    }

    h4 {
        color: white; /* Changed the title color to white */
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col-sm-2,
    .col-sm-10 {
        flex: 0 0 auto;
        color: white;
        font-size: 18px;
    }

    .col-sm-2 {
        width: 16.66667%;
        font-weight: bold;
    }

    .col-sm-10 {
        width: 83.33333%;
    }

    dt {
        margin-bottom: 5px;
    }

    dd {
        margin-bottom: 15px;
    }
</style>

<h2>User Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicalAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhysicalAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserId" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
